@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body{
  min-height: 100vh;
  background-color: darkgray;
}

header{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

header h1{
  padding-top: 50px;
  font-variant: small-caps;
}

header p{
  padding-bottom: 50px;
}

a{
  color: #ffffff;
  font-weight: bolder;
}

header a:hover{
  font-size: 1.1em;
  transition: 0.5s;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

.imagem p{
  width: 400px;
  background-color: rgba(0, 0, 0, 0.251);
}

footer{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

.normal{
  background-color: #ffffff;
  color: #000000;
}

.imagem{
  background-color: rgb(51, 51, 51);
  color: #ffffff;
}